<div id="tabs" x-data="{selected: 0}">
    <div class="flex mb-4">
        <div class="w-1 border-b"></div>
        <a href="javascript:void(0)"
           hx-get="{% url 'news:user_submissions' user.username %}"
           hx-vals='{"use_block": "items"}'
           hx-target="#items"
           @click="selected = 0"
           class="p-1 no-underline rounded-t border border-fg text-fg"
           :class="selected === 0 && 'font-bold border-b-0'">Submissions</a>
        <div class="w-1 border-b"></div>
        <a href="javascript:void(0)"
           hx-get="{% url 'news:user-replies' user.username %}"
           hx-vals='{"use_block": "items"}'
           hx-target="#items"
           @click="selected = 1"
           class="p-1 no-underline rounded-t border border-fg text-fg"
           :class="selected === 1 && 'font-bold border-b-0'">Comments</a>
        <div class="border-b grow"></div>
    </div>
    <div id="items">
        {% block items %}
            {% if item_type == "submissions" %}
                {% include "submissions.html" %}
            {% else %}
                {% include "comment_feed.html" %}
            {% endif %}
        {% endblock %}
    </div>
</div>
