<form method="post"
      action="{% url 'posts:submit' %}"
      class="p-2 text-center"
      hx-confirm="{% translate 'Are you sure you want to use the information from the URL preview? This will discard any information you have entered manually.' %}">
    {% csrf_token %}
    <input type="hidden" name="url" value="{{ metadata.url }}">
    <input type="hidden" name="title" value="{{ metadata.title }}">
    <input type="hidden" name="body" value='"{{ metadata.description }}"'>
    <input type="hidden" name="image_url" value="{{ metadata.image_url }}">
    <input type="hidden" name="image_alt" value="{{ metadata.image_alt }}">
    <button>
        {% translate "Submit" %}
    </button>
    <button id="copy-data-btn" type="button">
        {% translate "Copy to form" %}
    </button>
</form>
<article class="flex overflow-hidden flex-col prose-sm sm:prose"
         id="url_preview">
    <header>
        {% if metadata.image_url %}
            <div class="not-prose">
                <img class="object-cover w-full aspect-video"
                     src="{{ metadata.image_url }}"
                     alt="{{ metadata.image_alt|default_if_none:'' }}">
            </div>
        {% endif %}
    </header>
    <div class="p-2 grow bg-bg">
        <hgroup>
            {% if metadata.title %}
                <h1>
                    {{ metadata.title }}
                </h1>
            {% endif %}
        </hgroup>
        {% if metadata.description %}
            <p>
                {{ metadata.description }}
            </p>
        {% endif %}
        <p>
            <a href="{{ metadata.url }}" target="_blank"><small>{{ metadata.site_name|default:metadata.url }}</small></a>
        </p>
    </div>
    <footer class="text-center">
        <small class="text-muted">
            {% translate "URL Preview" %}
        </small>
    </footer>
</article>
<script>
    var copyDataBtn = document.getElementById("copy-data-btn");

    var urlInput = document.querySelector('input[name="url"]');
    var imgInput = document.querySelector('input[name="image_url"]');
    var imgAltInput = document.querySelector('input[name="image_alt"]');
    var titleInput = document.querySelector('input[name="title"]');
    var bodyInput = document.querySelector('textarea[name="body"]');

    var url = "{{ metadata.url }}";
    var img = "{{ metadata.image_url }}";
    var imgAlt = "{{ metadata.image_alt|default:metadata.title }}";
    var title = "{{ metadata.title }}";
    var body = "\"{{ metadata.description }}\"";

    function setAttrs(attr, value) {
        urlInput[attr] = value ?? url;
        imgInput[attr] = value ?? img;
        imgAltInput[attr] = value ?? imgAlt;
        titleInput[attr] = value ?? title;
        bodyInput[attr] = value ?? body;
    }

    copyDataBtn.addEventListener("mouseenter", () => setAttrs("placeholder"))
    copyDataBtn.addEventListener("mouseleave", () => setAttrs("placeholder", ""))
    copyDataBtn.addEventListener("click", () => {
        if (confirm("{% translate 'Are you sure you want to copy the information from the URL preview? This will overwrite any information you have entered manually.' %}")) {
            setAttrs("value");
        }
    });
</script>
