<div id="tabs" x-data="{selected: 0}">
  <div class="flex mb-4">
    <div class="border-b w-1"></div>
    <a
      href="javascript:void(0)"
      hx-get="{% url 'newsapp:user_submissions' user.username %}"
      hx-vals='{"use_block": "items"}'
      hx-target="#items"
      @click="selected = 0"
      class = "border border-fg rounded-t p-1 text-fg no-underline"
      :class="selected === 0 && 'font-bold border-b-0'"
    >Submissions</a>
    <div class="border-b w-1"></div>
    <a
      href="javascript:void(0)"
      hx-get="{% url 'newsapp:user-comments' user.username %}"
      hx-vals='{"use_block": "items"}'
      hx-target="#items"
      @click="selected = 1"
      class = "border border-fg rounded-t p-1 text-fg no-underline"
      :class="selected === 1 && 'font-bold border-b-0'"
    >Comments</a>
    <div class="grow border-b"></div>
  </div>
  <div id="items">
    {% block items %}
      {% if item_type == "submissions" %}
        {% include "newsapp/submissions.html" %}
      {% else %}
        {% include "newsapp/comment_feed.html" %}
      {% endif %}
    {% endblock %}
  </div>
</div>
