{% extends "base_page.html" %}

{% block main %}
  <section>
    <div class="flex items-center">
      {% if news_item.logo %}
        <img
          src="{{ news_item.logo.url }}"
          alt="{{ news_item.name }} logo"
          class="w-8 mr-4"
        >
      {% endif %}
      <h1>{{ news_site.name }}</h1>
    </div>
    <div>
      <a href="{{ news_site.url }}">{{ news_site.url }}</a>
      <a href="{{ news_site.rss_url }}">RSS feed</a>
    </div>
    {% if news_site.description %}
      <p>{{ news_site.description }}</p>
    {% endif %}
  </section>
{% endblock main %}
