{% load comments_extras i18n partials %}

{% partialdef comment %}
    <article id="comment-{{ comment.id }}">
        <header class="text-sm text-muted">
            {% include "partials/vote_form.html#points" with item=comment %}
            🞄
            {% include "partials/profile_link.html" with username=comment.user.username %}
            🞄
            <span>
                {% blocktranslate trimmed with age=comment.submit_date|timesince %}
                    {{ age }} ago
                {% endblocktranslate %}
            </span>
            {% if tree_context %}
                {% if comment.is_child_node %}
                    🞄 <a href="#comment-{{ comment.get_root.id }}">{% translate "root" %}{{ " " }}</a>
                    🞄 <a href="#comment-{{ comment.parent.id }}">{% translate "parent" %}{{ " " }}</a>
                {% endif %}
                {% if not comment.is_leaf_node %}
                    <button class="font-bold bg-transparent hover:bg-transparent no-js-hide hover:text-fg"
                        type="button"
                        aria-label="Fold/unfold discussion"
                        {# djlint: off #}
                        _="on click toggle @hidden on <span/> in me then toggle @hidden on #comment-{{ comment.id }}-children"
                        {# djlint: on #}
                        >
                        <span>－</span>
                        <span hidden>＋</span>
                    </button>
                {% endif %}
            {% endif %}
        </header>
        <p id="comment-{{ comment.id }}-body" class="max-w-none prose">
            {% if comment.is_removed %}
                <span class="italic text-muted">{% translate "deleted" %}</span>
            {% else %}
                {{ comment.body }}
                {% if comment.is_edited %}
                    <em class="italic text-muted">{% translate "edited" %}</em>
                {% endif %}
            {% endif %}
        </p>
        <p id="comment-{{ comment.id }}-edit-form-wrapper" hx-push-url="false">
        </p>
        <footer id="comment-{{ comment.id }}-footer"
                class="text-sm text-muted"
                hx-boost="true"
                hx-push-url="false">
            {% if user.is_authenticated %}
                <a href="{% url 'comments:reply' comment.id %}"
                   hx-target="#comment-{{ comment.id }}-reply-form-wrapper">{% translate "reply" %}</a>
                {% if user|can_moderate:comment %}
                    🞄
                    <a href="{% url 'comments:edit' comment.id %}"
                       hx-target="#comment-{{ comment.id }}-edit-form-wrapper">{% translate "edit" %}</a>
                    {% if not comment.is_removed %}
                        🞄
                        <a href="{% url 'comments:delete' comment.id %}"
                           id="comment-{{ comment.id }}-delete"
                           hx-select="#comment-{{ comment.id }}-body"
                           hx-confirm="{% translate 'Are you sure you want to delete this comment? Only a moderator can undo this action.' %}"
                           hx-select-oob="#comment-{{ comment.id }}-delete"
                           hx-target="#comment-{{ comment.id }}-body">
                            {% translate "delete" %}
                        </a>
                    {% elif user.is_moderator %}
                        🞄
                        <a href="{% url 'comments:restore' comment.id %}"
                           id="comment-{{ comment.id }}-delete"
                           hx-select="#comment-{{ comment.id }}-body"
                           hx-select-oob="#comment-{{ comment.id }}-footer"
                           hx-target="#comment-{{ comment.id }}-body">
                            {% translate "restore" %}
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </footer>
    </article>
{% endpartialdef %}

<div id="comment-{{ comment.id }}-wrapper" class="flex">
    {% include "partials/vote_form.html#form" with item=comment %}
    {% partial comment %}
</div>
