{% extends "base_page.html" %}

{% load app_extras comments_extras i18n partials %}

{% block title %}
    <a href="{% url 'posts:detail' comment.post.id %}">← {% translate "Return to" %} <em>{{ comment.post.title|truncatechars:80 }}</em></a>
    {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="flex">
        {% include "partials/vote.html#form" with item=comment %}
        <div>
            {% include "comments/partials/article.html" %}
            {% include "comments/partials/discussion_form.html" %}
        </div>
    </div>
{% endblock content %}

{% block discussion %}
    <div class="prose">
        <h2>
            {% blocktranslate trimmed with n=comment.get_descendant_count %}
                Replies ({{ n }})
            {% endblocktranslate %}
        </h2>
    </div>
    {% include "comments/partials/tree.html" with comments=comment.get_descendants %}
{% endblock discussion %}
