{% load i18n partials %}

{% partialdef comment %}
    <article class="max-w-none prose" id="comment-{{ comment.id }}">
        <header class="text-sm text-muted">
            <span>
                {% blocktranslate trimmed count n=comment.points %}
                    {{ n }} point
                {% plural %}
                    {{ n }} points
                {% endblocktranslate %}
            </span>
            🞄
            {% include "partials/profile_link.html" with username=comment.user.username %}
            🞄
            <span>
                {% blocktranslate trimmed with age=comment.submit_date|timesince %}
                    {{ age }} ago
                {% endblocktranslate %}
            </span>
            {% if tree_context %}
                {% if comment.is_child_node %}
                    🞄 <a href="#comment-{{ comment.get_root.id }}">{% translate "root" %}{{ " " }}</a>
                    🞄 <a href="#comment-{{ comment.parent.id }}">{% translate "parent" %}{{ " " }}</a>
                {% endif %}
                {% if not comment.is_leaf_node %}
                    <button class="font-bold bg-transparent transition-colors text-fg hover:bg-bg2 hover:text-bg"
                            type="button"
                            aria-label="Fold/Unfold discussion"
                            x-data="{ open: true }"
                            @click="$refs.c{{ comment.id }}.classList.toggle('hidden'); open = !open">
                        <span x-show="open">－</span>
                        <span x-show="!open">＋</span>
                    </button>
                {% endif %}
            {% endif %}
        </header>
        <p id="comment-{{ comment.id }}-body">
            {{ comment.body }}
        </p>
        <footer class="text-sm text-muted">
            {% if user.is_authenticated %}
                <a href="{% url 'comments:reply' comment.id %}"
                   hx-boost="true"
                   hx-push-url="false"
                   hx-swap="innerHTML"
                   hx-target="#comment-{{ comment.id }}-reply-form-wrapper">{% translate "reply" %}</a>
                {% if user == comment.user or user.is_staff %}
                    🞄
                    <a href="{% url 'comments:edit' comment.id %}">{% translate "edit" %}</a>
                    🞄
                    <a href="#"
                       hx-delete="{% url 'comments:delete' comment.id %}"
                       hx-target="#comment-{{ comment.id }}"
                       hx-swap="outerHTML">{% translate "delete" %}</a>
                {% endif %}
            {% endif %}
        </footer>
    </article>
{% endpartialdef %}

<div id="comment-{{ comment.id }}-vote-wrapper" class="flex">
    {% include "partials/vote_form.html#form" with item=comment %}
    {% partial comment %}
</div>
