{% extends "base_form.html" %}

{% load app_extras %}

{% partialdef fields %}
    {% for field in form %}
        {% if field.is_hidden %}
            <div>
                {{ field }}
            </div>
        {% elif field.name == "honeypot" %}
            <div hidden>
                {{ field }}
            </div>
        {% else %}
            {{ field.as_field_group }}
        {% endif %}
    {% endfor %}
{% endpartialdef %}

{% partialdef form %}
    <form id="{{ form_id|default:'root-comment-form' }}"
          aria-labelledby="comment-form"
          method="post"
          action="{% if action %} {{ action }} {% else %} {% url 'comments:create' %} {% endif %}"
          hx-push-url="false"
          {% hx_attrs %}
          _="on rootFormPosted reset() me on inlineFormPosted remove me">
        {% csrf_token %}
        <div id="fields">
            {% partial fields %}
        </div>
        <div class="flex">
            <button>
                {{ submit_text|default:"Save" }}
            </button>
            {% if can_cancel %}
                <button type="button"
                    {# djlint:off #}
                    _="on click confirm('{% translate 'Are you sure? All data will be lost.' %}') if result remove the closest <form/>"
                    {# djlint:on #}>
                    {% translate "Cancel" %}
                </button>
            {% endif %}
        </div>
    </form>
{% endpartialdef %}

{% block form %}
    {% partial form %}
{% endblock form %}
