{% load comments widget_tweaks %}
{% if user.is_authenticated %}
    <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {% if next %}
            <div>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        {% endif %}
        {% include "comments/fragments/form_fields.html" %}
        <div class="flex">
            <input type="submit" value="Save">
            <input type="button" value="Cancel" onclick="window.history.back()">
        </div>
    </form>
{% else %}
    <p>
        Please <a href="{% url 'login' %}">log in</a> to leave a comment.
    </p>
{% endif %}
