{% load app_extras i18n partials %}

{% partialdef fields %}
    <div>
        <input type="hidden" name="next" value="{{ next|default:request.path }}" />
    </div>
    {% for field in form %}
        {% if field.is_hidden %}
            <div>
                {{ field }}
            </div>
        {% else %}
            <div {% if field.name == "honeypot" %}hidden{% endif %}>
                {{ field.label_tag }}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                {{ field }}
            </div>
        {% endif %}
    {% endfor %}
{% endpartialdef %}

<form id="{{ form_id|default:'comment-form' }}"
      method="post"
      {% if action %}
          action="{{ action }}"
      {% else %}
          action="{% url 'comments:create' %}"
      {% endif %}
      hx-boost="true"
      {% hx_attrs %}
      _="on commentCreated reset() me on commentUpdated remove me">
    {% csrf_token %}
    <div id="fields">
        {% partial fields %}
    </div>
    <div class="flex">
        <button>
            {% translate "Save" %}
        </button>
        {% if can_cancel %}
            <button type="button"
                {# djlint:off #}
                    _="on click confirm('{% translate 'Are you sure? All data will be lost.' %}') if result remove the closest <form/>"
                {# djlint:on #}>
                {% translate "Cancel" %}
            </button>
        {% endif %}
    </div>
</form>
