{% extends "base_page.html" %}
{% load static %}
{% block content %}
    <section class="not-prose">
        {% if page_obj.paginator.count == 0 %}
            {% block no-items %}
                <p>No comments are available.</p>
            {% endblock no-items %}
        {% else %}
            {% block page-and-paging-controls %}
                {% for comment in page_obj %}
                    <div class="mx-2 mb-6">
                        <a href="{% url 'comments:detail' comment.id %}"
                           preload="mouseover"
                           class="no-link">
                            <div class="max-w-full">{{ comment.comment|truncatewords:40 }}</div>
                        </a>
                        <div class="text-sm text-muted">
                            <a href="{% url 'profile' comment.user %}" class="no-link text-muted">{{ comment.user.username }}</a> &#x2022; <span>{{ comment.created_on|timesince }} ago</span>
                        </div>
                    </div>
                {% endfor %}
                {% if page_obj.has_next %}
                    {% include "includes/paging_control.html" %}
                {% else %}
                    <p class="text-center">* * *</p>
                {% endif %}
            {% endblock %}
        {% endif %}
    </section>
{% endblock %}
