{% extends "base_feed.html" %}

{% load app_extras static %}

{% block feed %}
    <ul>
        {% for comment in page_obj %}
            <li>
                <a href="{{ comment.get_absolute_url }}"
                   class="hover:no-underline no-anchor">
                    <article class="p-1 mb-4 rounded sm:p-4 sm:mx-2 sm:mb-6 sm:rounded-lg bg-bg0_h">
                        <p class="text-sm text-muted">
                            {% points_count comment %}
                            •
                            {% blocktranslate trimmed with age=comment.submit_date|timesince %}
                                {{ age }} ago
                            {% endblocktranslate %}
                        </p>
                        <p class="prose-sm">
                            {{ comment.body|truncatewords:40 }}
                        </p>
                    </article>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock feed %}
