{% extends "base_feed.html" %}

{% load i18n static %}

{% block feed %}
    {% for post in page_obj %}
        <article class="mx-2 mb-6">
            <hgroup>
                <h1 class="text-xl">
                    <a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a>
                </h1>
                <p class="text-sm text-muted">
                    {% include "partials/vote.html" with item=post %}
                    🞄
                    {% blocktranslate trimmed with age=post.submit_date|timesince %}
                        {{ age }} ago
                    {% endblocktranslate %}
                </p>
            </hgroup>
            <p class="text-muted">
                {{ post.body|truncatewords:40 }}
            </p>
        </article>
    {% endfor %}
{% endblock feed %}
