{% extends "base_page.html" %}

{% load i18n static %}

{% block content %}
    {% if page_obj.paginator.count == 0 %}

        {% block no-items %}
            <p>
                {% translate "No posts are available." %}
            </p>
        {% endblock no-items %}

    {% else %}

        {% block page-and-paging-controls %}
            {% for post in page_obj %}
                <article class="mx-2 mb-6 max-w-none prose">
                    <header>
                        <h3>
                            <a href="{% url 'post' post.id %}" class="no-anchor">{{ post.title }}</a>
                        </h3>
                        <small>
                            {% blocktranslate trimmed with age=post.submit_date|timesince %}
                                {{ age }} ago
                            {% endblocktranslate %}
                        </small>
                    </header>
                    <div class="max-w-full">
                        {{ post.body|truncatewords:40 }}
                    </div>
                </article>
            {% endfor %}
            {% if page_obj.has_next %}
                {% include "partials/paging_control.html" %}
            {% else %}
                <p class="text-center">
                    * * *
                </p>
            {% endif %}
        {% endblock page-and-paging-controls %}

    {% endif %}
{% endblock content %}
