{% extends "base_page.html" %}
{% load static %}
{% block content %}
    <section class="not-prose">
        {% if page_obj.paginator.count == 0 %}
            {% block no-items %}
                <p>No posts are available.</p>
            {% endblock no-items %}
        {% else %}
            {% block page-and-paging-controls %}
                {% for post in page_obj %}
                    <div class="mx-2 mb-6">
                        <!-- TODO <a href="{% url 'post' post.id %}" -->
                        <h4 class="font-bold">{{ post.title }}</h4>
                        <a href="#" preload="mouseover" class="no-link">
                            <div class="max-w-full">{{ post.body|truncatewords:40 }}</div>
                        </a>
                        <div class="text-sm text-muted">
                            <a href="{% url 'profile' post.user %}" class="no-link text-muted">{{ post.user.username }}</a> &#x2022; <span>{{ post.submit_date|timesince }} ago</span>
                        </div>
                    </div>
                {% endfor %}
                {% if page_obj.has_next %}
                    {% include "fragments/paging_control.html" %}
                {% else %}
                    <p class="text-center">* * *</p>
                {% endif %}
            {% endblock %}
        {% endif %}
    </section>
{% endblock %}
