{% extends "base_page.html" %}

{% block header %}
    <h1>
        {% include "partials/profile_link.html" with user=profile.user %}
    </h1>
    {% if user == profile.user %}
        <p class="text-center sm:text-left">
            <a href="{% url 'users:profile_edit' user %}">{% translate "edit" %}</a>
            • <a href="{% url 'logout' %}">{% translate "logout" %}</a>
        </p>
    {% endif %}
    <p>
        {% blocktranslate trimmed with age=profile.user.date_joined|timesince karma=profile.user.points %}
            Joined {{ age }} ago • Karma: {{ karma }}
        {% endblocktranslate %}
    </p>
{% endblock header %}

{% block content %}
    <div class="prose-sm sm:prose dark:prose-invert">
        <p>
            {{ profile.bio|linebreaks }}
        </p>
    </div>
    <div class="mb-4 sm:mb-6 tabs"
        role="tablist"
        hx-target="#tab-content"
        hx-select="#main-content"
        {# djlint: off #}
        _="on htmx:afterOnLoad
             take .selected from <button/> in me for the event's target 
             take [@aria-selected=true] with 'false' from <button/> in me for the event's target">
        {# djlint: on #}
        <button type="button"
                role="tab"
                aria-controls="tab-content"
                aria-selected="false"
                class="tab-btn"
                hx-get="{% url 'users:posts' profile.user %}">
            {% blocktranslate trimmed with n=profile.user.posts.count %}
                Posts ({{ n }})
            {% endblocktranslate %}
        </button>
        <button type="button"
                role="tab"
                aria-controls="tab-content"
                aria-selected="false"
                class="tab-btn"
                hx-get="{% url 'users:comments' profile.user %}">
            {% blocktranslate trimmed with n=profile.user.comments.count %}
                Comments ({{ n }})
            {% endblocktranslate %}
        </button>
    </div>
    <section id="tab-content" role="tabpanel">
    </section>
{% endblock content %}
