{% extends "base_page.html" %}

{% load i18n %}

{% block content %}
    <header class="max-w-none prose">
        <hgroup>
            <h1>
                {{ profile.user.username }}
            </h1>
            <p>
                {% blocktranslate trimmed with age=profile.user.date_joined|timesince karma=profile.user.points %}
                    Joined {{ age }} ago 🞄 Karma: {{ karma }}
                {% endblocktranslate %}
                {% if user == profile.user %}
                    🞄 <span><a href="{% url 'profile_edit' user.username %}">{% translate "Edit" %}</a></span>
                {% endif %}
            </p>
        </hgroup>
    </header>
    {% if profile.bio %}
        {{ profile.bio|linebreaks }}
    {% endif %}
    <div hx-boost="true">
        <a href="{% url 'user_posts' profile.user.username %}">
            {% blocktranslate trimmed with n=profile.user.posts.count %}
                Submissions ({{ n }})
            {% endblocktranslate %}
        </a>
        <a href="{% url 'user_comments' profile.user.username %}">
            {% blocktranslate trimmed with n=profile.user.comments.count %}
                Comments ({{ n }})
            {% endblocktranslate %}
        </a>
    </div>
{% endblock content %}
