{% load mptt_tags %}
{% load comments %}

<ul x-data class="list-none p-0 m-0 mt-4">
  {% get_comment_list for item as comment_list %}
  {% recursetree comment_list %}
    {% with tree_context=True %}
      <li>
        <div>
          {% include "comments/detail.html" with comment=node %}
          {% if not node.is_leaf_node %}
            <div x-ref="c{{ node.id }}" class="ml-2">
              <ul class="list-none p-0 m-0 mt-4">
                {{ children }}
              </ul>
            </div>
          {% endif %}
        </div>
      </li>
    {% endwith %}
  {% endrecursetree %}
</ul>
