{% extends "base_page.html" %}

{% block main %}
    <h1>Login</h1>
    <form action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {{ login_form.as_div }}
        <input type="submit" value="Login">
    </form>
    <a href="{% url 'news:forgot' %}">Forgot your password?</a>

    <h1>Register</h1>
    <form action="{% url 'user:register' %}" method="post">
        {% csrf_token %}
        {{ register_form.as_div }}
        <input type="submit" value="Register">
    </form>
{% endblock %}
