@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply box-border font-sans antialiased;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  a {
    @apply text-blue no-underline;
  }

  a:hover {
    @apply text-blue_d underline;
  }

  a:visited {
    @apply text-purple;
  }

  nav a, nav a:visited, nav a:hover {
    @apply text-fg no-underline;
  }

  figure {
    @apply flex flex-col items-center my-4;
  }

  figure img {
    @apply mb-3;
  }

  figcaption {
    @apply text-sm text-muted;
  }

  [type="text"], [type="email"], [type="url"], [type="password"], [type="number"], [type="date"], [type="datetime-local"], [type="month"], [type="search"], [type="tel"], [type="time"], [type="week"], [multiple], textarea, select {
    @apply w-full rounded mt-2 mb-4 mr-2 px-2 py-1 bg-fg text-bg;
  }

  select {
    @apply pr-8;
  }

  [type="submit"], [type="button"], button {
    @apply bg-red_d hover:bg-red mr-2 px-2 rounded;
  }

}

.anchor-btn {
  @apply bg-bg hover:bg-bg inline 
}

@layer components {
  .no-link {
    @apply text-fg no-underline;
  }

  .no-link:hover {
    @apply text-fg underline;
  }

  .no-link:visited {
    @apply text-fg;
  }
}

.errorlist {
  @apply text-red text-sm;
}

.helptext {
  @apply text-fg4 text-sm;
}

.votearrow {
  width:  10px;
  height: 10px;
  border: 0;
  margin:     3px 2px 6px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACB0lEQVRYR+2WMU/CQBiGKSEQwsJIGUwMcWE0/ABHN3VSJ+lC6aTyB6x/AHGiTMVNJ3Fz9AcYRhNDCIkDMLIQAjHU9wg1bWl7vbbAwm2kve973ueO63GRLQ9uy/0jO4CdgUAG6vX6EdnEkiR9+N3MgQAURXknjcvl8vHGARqNxiGafi4bF0RRbPuB8G0A6Vscx52QppqmvcHC6cYADOn1ABqa+7LgywAAntHw3JL4BctwwWqBGQDqD9DkC/pjxmZYhl/8zmMpOiwQzABI30SDK4cmT7BQXBuAU3q9IbEAM3uAGHiFYDKA9AoKi27FAfGIZbgJHQDNeRTvImGSAjDBOzmvFjwbgP4aCl97ScZiwROAqqrp6XTap6U37IVJIpHICoIwogF7AoB+GYXuaMUsz++xDGSe66ACkPSz2ayHKmlaMcvzUTwe36dZoAL4TK+zUC24AlSr1WQqler7SK8DjMbjcbZSqUyc7LkCID35Pz8wqre+fou9UGMGWKbvYiIfEGAACzknC44GQkq/YMe5IOF0JKfoyrAFkGU5xvP8TwjpdYDOcDjMoy75YpqGLQAum8VoNKoGVG+aPp/PBVxem1QAkj6TyZDvPfnuhzawDLYWVgysI72eAqEuS6USuU39DxMAKDlsvu+w0xv6tQFQQH1yh1wMEwCak5vta2je7Qud4Vxo6Y/+AL88xCG2f4SEAAAAAElFTkSuQmCC"), linear-gradient(transparent, transparent) no-repeat;
  background-size: 10px;
}
