@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans antialiased;
  }

  input:not(
      [type="submit"],
      [type="button"],
      [type="checkbox"],
      [type="color"],
      [type="date"],
      [type="datetime-local"],
      [type="file"],
      [type="hidden"],
      [type="image"],
      [type="radio"],
      [type="range"],
      [type="time"]
    ),
  textarea,
  select {
    @apply block w-full rounded mt-2 mb-4 mr-2 px-2 py-1 bg-fg text-bg shadow-inner shadow-bg4;
  }

  textarea {
    resize: both;
  }

  select {
    @apply pr-8;
  }

  [type="submit"],
  [type="button"],
  [type="reset"],
  button {
    @apply bg-red_d hover:bg-red text-white mr-2 px-2 rounded;
  }

  a {
    @apply text-blue no-underline visited:text-blue hover:underline cursor-pointer;
  }

  a[href*="http"]:after {
    content: " ⭧";
  }

  hr {
    @apply border-fg;
  }
}

@layer components {
  .tabs {
    @apply flex items-center space-x-2;
  }
  .tab-btn {
    @apply bg-bg hover:bg-bg4 active:bg-bg2 px-3 py-1 text-fg;
  }
}

@layer utilities {
  .selected {
    @apply bg-bg3;
  }

  .no-anchor {
    @apply text-inherit no-underline visited:text-inherit;
  }
}

.error {
  @apply text-red;
}

.helptext {
  @apply text-fg4 text-sm;
}

.errorlist {
  @apply text-red text-sm;
}

@media (scripting: none) {
  .no-js-hide {
    display: none;
  }
}
