{% load i18n %}

<div>
    <div class="flex justify-end items-center space-x-2">
        {# djlint: off #}
        <input id="preview-chk"
               type="checkbox"
               hx-post="{% url 'markdown:to_html' %}"
               hx-target="#preview"
               _="on change toggle .hidden on <div/> in #editor">
        {# djlint: on #}
        <label for="preview-chk">
            {% translate "Preview" %}
        </label>
    </div>
    <div id="editor">
        <div id="md">
            {% include "django/forms/widgets/textarea.html" %}
        </div>
        <div id="preview"
             class="hidden p-2 my-4 mt-2 rounded sm:p-4 sm:max-w-none prose-sm bg-fg text-bg min-h-[15rem]">
        </div>
    </div>
</div>
