{% load i18n %}

<div class="relative">
    <div class="flex absolute right-0 -top-8 justify-end items-center space-x-2">
        <input id="preview-chk"
               type="checkbox"
               hx-post="{% url 'markdown:to_html' %}"
               hx-target="#preview"
               hx-trigger="change target::checked"
               _="on load call toggleView() on change call toggleView()">
        <label for="preview-chk">
            {% translate "Preview" %}
        </label>
    </div>
    <div id="editor">
        <div id="md">
            {% include "django/forms/widgets/textarea.html" %}
        </div>
        <div id="preview"
             class="hidden p-2 my-4 mt-2 rounded sm:p-4 prose-sm min-h-[15rem] dark:prose-invert">
            {{ widget.html|safe }}
        </div>
    </div>
</div>
{# djlint: off #}
<script type="text/hyperscript">
    def toggleView()
        if #preview-chk matches <:checked/>
            set hiddenEl to 'md'
        else 
            set hiddenEl to 'preview'
        end
        take .hidden from <#editor>div/> for #{hiddenEl}
    end
</script>
