{% extends "newsapp/base-page.html" %}

{% block main %}
    <article>
        <section>
            <h2>{{ article.title }}</h2>
            {% if article.subtitle %}<h3>{{ article.subtitle }}</h3>{% endif %}
            <p>published on {{ article.pub_date }} by {{ article.author }}</p>
            <p><a href={{ article.url }}>view original article on {{ article.news_site.name }}</a></p>
        </section>
        <section>
            {{ article.content }}
        </section>
        <article>
{% endblock %}
