{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>☭ Communist News</title>
    <link rel="stylesheet" href="{% static 'newsapp/css/output.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="{% static 'newsapp/js/htmx.min.js' %}"></script>
    <script defer src="{% static 'newsapp/js/preload.js' %}"></script>
    <script defer src="{% static 'newsapp/js/cn.js' %}"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-ext="preload"
    class="text-fg bg-bg"
  >
    {% block body %}{% endblock %}
  </body>
</html>
