{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>☭ Communist News</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'newsapp/css/pure_base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="{% static 'newsapp/js/htmx.min.js' %}"></script>
    <script defer src="{% static 'newsapp/js/preload.js' %}"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-ext="preload">
    {% block body %}{% endblock %}
  </body>
</html>
