{% extends "newsapp/base-page.html" %}
{% load static %}

{% block main %}
  <section>
    <h1>News Items</h1>

    {% if page_obj.paginator.count == 0 %}
      <p>No news items are available.</p>
    {% else %}

      {% block page-and-paging-controls %}
        {% for news_item in page_obj %}
          <a
            class="m-2 h-16 flex justify-between items-stretch text-fg visited:text-fg hover:text-fg1 no-underline"
            href="{% url 'newsapp:article' news_item.id %}"
            preload="mouseover"
          >
            <div class="flex flex-col w-full py-2 justify-between">
              <div class="text-lg font-bold">{{ news_item.title|title }}</div>
              <div>
                <span>{{ news_item.news_site.name }}</span> &#x2022; <span>{{ news_item.pub_date|timesince }}</span>
              </div>
            </div>
            <div class="not-prose flex flex-col justify-center items-center">
              <img
                class="w-5"
                src="{% static 'newsapp/images/comment.svg' %}"
                alt="Comments"
              />
              <div>{{ news_item.comments.with_tree_fields|length }}</div>
            </div>
          </a>
        {% endfor %}

        {% if page_obj.has_next %}
          <p id="paging-area">
            <a
              href="#"
              hx-get="?page={{ page_obj.next_page_number }}"
              hx-vals='{"use_block": "page-and-paging-controls"}'
              hx-target="#paging-area"
              hx-swap="outerHTML"
              class="block text-center"
            >Load More</a>
          </p>
        {% else %}
          <p>That's all!</p>
        {% endif %}
      {% endblock %}

    {% endif %}
  </section>
{% endblock %}
