{% extends "newsapp/base-feed.html" %}
{% load static %}

{% block no-items %}
  <p>No news items are available.</p>
{% endblock %}

{% block item %}
  {% with page_item as article %}
    <a
      class="m-2 h-16 flex justify-between items-stretch text-fg visited:text-fg hover:text-fg1 no-underline"
      href="{% url 'newsapp:article' article.id %}"
      preload="mouseover"
    >
      <div class="flex flex-col w-full py-2 justify-between">
        <div class="text-lg font-bold">{{ article.title|title }}</div>
        <div>
          <span>{{ article.news_site.name }}</span> &#x2022; <span>{{ article.pub_date|timesince }}</span>
        </div>
      </div>
      <div class="not-prose flex flex-col justify-center items-center">
        <img
          class="w-5"
          src="{% static 'newsapp/images/comment.svg' %}"
          alt="Comments"
        />
        <div>{{ article.comments.all|length }}</div>
      </div>
    </a>
  {% endwith %}
{% endblock %}

