{% extends "newsapp/base_page.html" %}

{% block main %}
  <article>
    <section>
      <h1>{{ submission.title|title }}</h1>
      <p>submissioned {{ submission.created_on|timesince }} ago by <b><a href="{% url 'newsapp:user' submission.user.username %}">{{ submission.user.username }}</a></b></p>
      <p><a href="{{ submission.url }}" target="_blank" rel="noreferrer">Link</a></p>
    </section>
    <section>
      {{ submission.text|linebreaks }}
    </section>
    <br><br>
    {% block comments %}
      <section id="comments">
        <h3>Comments</h3>
        {% if user.is_authenticated %}
          <form class="not-prose">
            {% csrf_token %}
            {{ comment_form.as_div }}
            <input
              hx-post=""
              hx-trigger="click"
              hx-vals='{"use_block": "comments"}'
              hx-target="#comments"
              type="submit"
              value="Add Comment"
            >
          </form>
        {% endif %}
        {% include "treecomments/tree.html" %}
      </section>
    {% endblock comments %}
  </article>
{% endblock %}
