{% extends "base_form.html" %}

{% load i18n %}

{% block extra %}
    <p>
        {% translate "Are you sure you want to delete the following post?" %}
    </p>
    <div class="p-4 rounded-md border opacity-75 border-fg">
        {% include "posts/detail.html#article" %}
    </div>
    <p>
        <strong>{% translate "This action cannot be undone." %}</strong>
    </p>
{% endblock extra %}

{% block form %}
    <form method="post" action="{% url 'posts:delete' post.id %}">
        {% csrf_token %}
        <div class="flex">
            <button>
                {% translate "Confirm" %}
            </button>
            <a href="{% url 'posts:detail' post.id %}" class="no-anchor">
                <button type="button">
                    Cancel
                </button>
            </a>
        </div>
    </form>
{% endblock form %}
