{% extends "base_form.html" %}

{% load i18n %}

{% block subtitle %}
    <p>
        {% translate "Are you sure you want to delete the following post?" %}
    </p>
    <a href="{% url 'posts:detail' post.id %}">
        <p class="text-2xl">
            {{ post.title }}
        </p>
    </a>
    <p>
        <strong>{% translate "This action cannot be undone!" %}</strong>
    </p>
{% endblock subtitle %}

{% block form %}
    <form method="post" action="{% url 'posts:delete' post.id %}">
        {% csrf_token %}
        <div class="flex">
            <button>
                {% translate "Confirm" %}
            </button>
        </div>
    </form>
{% endblock form %}
