{% extends "base_page.html" %}
{% load comments widget_tweaks %}
{% block content %}
    <article>
        <section>
            <h1>{{ post.title|title }}</h1>
            <p>
                posted {{ post.submit_date|timesince }} ago by <b><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></b>
            </p>
            <p>
                <a href="{{ post.url }}" target="_blank" rel="noreferrer">Link</a>
            </p>
        </section>
        <section>
            {{ post.body|linebreaks }}
        </section>
        <br>
        <br>
        {% block comments %}
            <section id="comments">
                <h3>Comments</h3>
                {% if user.is_authenticated %}
                    <form class="not-prose">
                        {% csrf_token %}
                        {% get_comment_form for post as form %}
                        {% url 'post' post.id as next %}
                        {% include "comments/fragments/form_fields.html" %}
                        <input hx-post="{% comment_form_target %}"
                               hx-trigger="click"
                               hx-vals='{"use_block": "comments"}'
                               hx-target="#comments"
                               type="submit"
                               value="Add Comment">
                    </form>
                {% endif %}
                {% include "comments/tree.html" %}
            </section>
        {% endblock comments %}
    </article>
{% endblock %}
