{% extends "base_page.html" %}
{% load i18n %}

{% block content %}
    <article>
        <section>
            <h1>
                <a href="{% url 'post' post.id %}" class="no-link">{{ post.title }}</a>
            </h1>
            <p>
                {% url "profile" post.user.username as profile_url %}
                {% blocktranslate trimmed with age=post.submit_date|timesince username=post.user.username|escape %}
                    posted {{ age }} ago by <a href="{{ profile_url }}">{{ username }}</a>
                {% endblocktranslate %}
            </p>
            <p>
                <a href="{{ post.url }}" target="_blank" rel="noreferrer">{% translate "Link" %}</a>
            </p>
        </section>
        <section>
            {{ post.body|linebreaks }}
        </section>
        <br>
        <br>
        <section hx-vals='{"tree": true}'>
            {% if form %}
                <div hx-target="#comment-tree" hx-swap="beforeend" hx-push-url="false">
                    {% include "comments/fragments/form.html" %}
                </div>
            {% else %}
                <p>
                    {% translate "Log in to join the discussion." %}
                </p>
            {% endif %}
            <h3>
                {% translate "Comments" %}
            </h3>
            {% include "comments/tree.html" %}
        </section>
    </article>
{% endblock content %}
