{% extends "base_page.html" %}
{% block content %}
    <article>
        <section>
            <h1>
                <a href="{% url 'post' post.id %}" class="no-link">{{ post.title }}</a>
            </h1>
            <p>
                posted {{ post.submit_date|timesince }} ago by <b><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></b>
            </p>
            <p>
                <a href="{{ post.url }}" target="_blank" rel="noreferrer">Link</a>
            </p>
        </section>
        <section>
            {{ post.body|linebreaks }}
        </section>
        <br>
        <br>
        <section id="comments">
            {% block comments %}
                {% if form %}
                    <form class="not-prose"
                          action=""
                          method="post"
                          hx-post=""
                          hx-vals='{"use_block": "comments"}'
                          hx-target="#comments">
                        {% csrf_token %}
                        {% include "comments/fragments/form.html" %}
                        <button type="submit">Add Comment</button>
                    </form>
                {% endif %}
                <h3>Comments</h3>
                {% include "comments/tree.html" %}
            {% endblock %}
        </section>
    </article>
{% endblock %}
