{% extends "base_feed.html" %}

{% load i18n %}

{% block menu %}
    {% if has_menu %}
        <menu hx-boost="true" class="flex justify-around mb-4 sm:mb-8">
            <li>
                <a href="?range=day"
                   class="no-anchor
                          {% if range == 'day' %}
                              font-bold
                          {% endif %}">
                    {% translate "24h" %}
                </a>
            </li>
            <li>
                <a href="?range=week"
                   class="no-anchor
                          {% if range == 'week' %}
                              font-bold
                          {% endif %}">
                    {% translate "Week" %}
                </a>
            </li>
            <li>
                <a href="?range=month"
                   class="no-anchor
                          {% if range == 'month' %}
                              font-bold
                          {% endif %}">
                    {% translate "Month" %}
                </a>
            </li>
            <li>
                <a href="?range=year"
                   class="no-anchor
                          {% if range == 'year' %}
                              font-bold
                          {% endif %}">
                    {% translate "Year" %}
                </a>
            </li>
            <li>
                <a href="?range=all"
                   class="no-anchor
                          {% if range == 'all' %}
                              font-bold
                          {% endif %}">
                    {% translate "All-time" %}
                </a>
            </li>
        </menu>
    {% endif %}
{% endblock menu %}

{% block feed %}
    {% if page_obj.paginator.count == 0 %}
        <p>
            {% translate "No posts available." %}
        </p>
    {% endif %}
    {% for post in page_obj %}
        {% include "posts/partials/feed_item.html" %}
    {% endfor %}
{% endblock feed %}

{% block page-and-paging-controls %}
    {{ block.super }}
{% endblock page-and-paging-controls %}
