{% extends "base_form.html" %}

{% block form %}
    <div class="flex flex-wrap gap-4">
        <form method="post" class="grow">
            {% csrf_token %}
            {{ form }}
            <button>
                Submit
            </button>
        </form>
        <div class="grow basis-40 prose-sm sm:prose">
            <h2>
                {% translate "URL Preview" %}
            </h2>
            <div id="url-preview-wrapper"
                 class="p-0 rounded-lg border-2 bg-bg1 border-fg">
                <div class="flex justify-center items-center h-20">
                    <div>
                        {% include "partials/spinner.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock form %}
