{% extends "base_form.html" %}

{% block form %}
    <div class="flex items-stretch space-x-4">
        <form method="post" class="sm:flex-none sm:basis-3/4">
            {% csrf_token %}
            {{ form }}
            <button>
                Submit
            </button>
        </form>
        <div id="url-preview-wrapper"
             class="hidden rounded sm:block grow bg-slate-300 dark:bg-gruv-800">
            <div class="flex justify-center items-center h-full">
                {% include "partials/spinner.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock form %}
