<div id="comment-{{ comment.id }}" class="flex">
    <div>
        <a href="#">
            <div class="votearrow" title="upvote"></div>
        </a>
    </div>
    <div class="ml-2">
        <div class="text-sm text-muted">
            <a href="{% url 'profile' comment.user.username %}">{{ comment.user.username }}</a>
            <span>{{ comment.created_on|timesince }} ago</span>
            {% if tree_context %}
                {% if comment.get_ancestors|length > 1 %}| <a href="#comment-{{ comment.get_root.id }}">root</a>{% endif %}
                {% if comment.parent %}| <a href="#comment-{{ comment.parent.id }}">parent</a>{% endif %}
                {% with prev=comment.get_previous_sibling next=comment.get_next_sibling %}
                    {% if prev %}| <a href="#comment-{{ prev.id }}">prev</a>{% endif %}
                    {% if next %}| <a href="#comment-{{ next.id }}">next</a>{% endif %}
                {% endwith %}
                {% if not comment.is_leaf_node %}
                    | <a href="javascript:void(0)"
                         class="no-link"
                         x-data="{ open: true }"
                         @click="$refs.c{{ comment.id }}.classList.toggle('hidden'); open = !open"
                         x-text="open ? '[ - ]' : '[ + ]'"></a>
                {% endif %}
            {% endif %}
        </div>
        <div id="comment-{{ comment.id }}-text">
            <div>{{ comment.comment }}</div>
        </div>
        <div class="ml-5 text-sm text-muted">
            {% if user.is_authenticated %}
                <a href="{% url 'comments:reply' comment.id %}">reply</a>
                {% if user == comment.user or user.is_staff %}
                    {% if comment.is_editable %}
                        |
                        <a href="{% url 'comments:edit' comment.id %}">edit</a>
                        |
                        <a href="#"
                           hx-delete="{% url 'comments:delete' comment.id %}"
                           hx-target="#comment-{{ comment.id }}"
                           hx-swap="outerHTML">delete</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if comment.is_deleted %}
                <span>| deleted {{ comment.deleted_on|timesince }} ago</span>
            {% elif comment.is_edited %}
                <span>| edited {{ comment.edited_on|timesince }} ago</span>
            {% endif %}
        </div>
    </div>
</div>
