{% load widget_tweaks %}
{% csrf_token %}
{% if next %}
    <div>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
{% endif %}
{% for field in form %}
    {% if field.is_hidden %}
        <!-- content_type, object_pk, timestamp, security_hash, parent -->
        <div>{{ field }}</div>
    {% elif field.name == "comment" %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        <p {% if field.errors %}class="error"{% endif %}>{{ field.label_tag }} {{ field.as_div }}</p>
    {% elif field.name == "honeypot" %}
        <p hidden>{{ field.label_tag }} {{ field }}</p>
    {% endif %}
    <!-- name, email & url don't need to be rendered if user is authenticated -->
    <!-- https://django-contrib-comments.readthedocs.io/en/latest/quickstart.html#providing-a-comment-form-for-authenticated-users -->
{% endfor %}
