{% extends "base_page.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Login" %}
{% endblock page_title %}

{% block content %}
    <h1>
        {% translate "Login" %}
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button>
            {% translate "Login" %}
        </button>
    </form>
    <!-- TODO <a href="">Forgot your password?</a> -->
    <div>
        <a href="{% url 'signup' %}">{% translate "Register" %}</a>
    </div>
{% endblock content %}
