{% extends "base_form.html" %}

{% block page_title %}
    {% translate "Login" %}
{% endblock page_title %}

{% block title %}
    <h1>
        {% translate "Login" %}
    </h1>
{% endblock title %}

{% block form %}
    {% comment %}
      No boost to ensure a full page refresh and a fresh csrf token for the user.
    {% endcomment %}
    <div hx-boost="false">
        {{ block.super }}
    </div>
    <p class="mt-4">
        <a href="{% url 'users:create' %}">{% translate "Register" %}</a>
    </p>
{% endblock form %}
