{% load comments %}

<div class="text-sm text-muted">
  <span>{{ item.votes.count }} points{{ item.votes.count|pluralize }}</span>
  |
  {% if item.news_site %}
    <a href="{% url 'newsapp:news_site' item.news_site.id %}">{{ item.news_site.name }}</a>
  {% elif item.user %}
    <a href="{% url 'newsapp:user' item.user.username %}">{{ item.user.username }}</a>
  {% endif %}
  |
  {% if item.pub_date %}
    <span>{{ item.pub_date|timesince }} ago</span>
  {% else %}
    <span>{{ item.created_on|timesince }} ago</span>
  {% endif %}
  |
  {% get_comment_count for item as comment_count %}
  <span>{{ comment_count }} comment{{ comment_count|pluralize }}</span>
</div>
