{% load i18n %}
<article id="post-{{ post.id }}" class="flex m-2 h-16 not-prose">
    <button class="flex-none p-2 w-8 bg-transparent hover:bg-transparent {% if post.has_voted or post.user == user %}opacity-25{% endif %} bg-bg hover:bg-bg"
            type="button"
            aria-label="Upvote"
            {% if not user.is_authenticated or post.user == user %}disabled{% endif %}
            hx-post="{% url 'post_vote' post.id %}"
            hx-target="#post-{{ post.id }}"
            hx-swap="outerHTML">{% include "fragments/votearrow_svg.html" %}</button>
    <div>
        <a href="{% url 'post' post.id %}"
           preload="mouseover"
           class="text-lg font-bold no-link">{{ post.title|title }}</a>
        <div class="text-sm text-muted">
            <span>
                {% blocktranslate trimmed count n=post.points %}
                    {{ n }} point
                {% plural %}
                    {{ n }} points
                {% endblocktranslate %}
            </span>
            🞄 <a href="{% url 'profile' post.user.username %}"
                 {% if user == post.user %}class="text-orange"{% endif %}>{{ post.user.username }}</a>
            🞄
            <span>
                {% blocktranslate trimmed with age=comment.submit_date|timesince %}
                    {{ age }} ago
                {% endblocktranslate %}
            </span>
            🞄
            <span>
                {% blocktranslate trimmed count n=post.comments.count %}
                    {{ n }} comment
                {% plural %}
                    {{ n }} comments
                {% endblocktranslate %}
            </span>
        </div>
    </div>
</article>
