<div id="post-{{ post.id }}" class="flex m-2 h-16 not-prose">
    <div class="m-2">
        <button class="p-3 m-0 w-10 rounded-none border-none {% if comment.has_voted or comment.user == user %}opacity-25{% endif %} bg-bg hover:bg-bg"
                type="button"
                {% if not user.is_authenticated %}disabled{% endif %}
                hx-post="{% url 'post_vote' post.id %}"
                hx-target="#post-{{ post.id }}"
                hx-swap="outerHTML">{% include "fragments/votearrow-svg.html" %}</button>
    </div>
    <div>
        <a href="{% url 'post' post.id %}"
           preload="mouseover"
           class="text-lg font-bold no-link">{{ post.title|title }}</a>
        <div class="text-sm text-muted">
            {% with post.votes.count as  vote_count %}<span>{{ vote_count }} point{{ vote_count|pluralize }}</span>{% endwith %}
            |
            <span><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></span>
            |
            <span>{{ post.submit_date|timesince }} ago</span>
            |
            {% with post.comments.count as  comment_count %}
                <span>{{ comment_count }} comment{{ comment_count|pluralize }}</span>
            {% endwith %}
        </div>
    </div>
</div>
