{% load app_extras i18n partials %}

{% partialdef title %}
    <a href="{% url 'posts:detail' post.id %}"
       preload="mouseover"
       class="no-anchor">{{ post.title }}</a>
{% endpartialdef %}

<div id="{{ post|element_id }}" class="flex m-2 h-16">
    {% include "partials/vote_form.html#form" with item=post %}
    <article>
        <header>
            {% partial title %}
        </header>
        <p class="text-sm text-muted">
            {% include "partials/vote_form.html#points" with item=post %}
            🞄
            {% include "partials/profile_link.html" with user=post.user %}
            🞄
            <span>
                {% blocktranslate trimmed with age=post.submit_date|timesince %}
                    {{ age }} ago
                {% endblocktranslate %}
            </span>
            🞄
            <span>
                {% blocktranslate trimmed count n=post.comments.count %}
                    {{ n }} comment
                {% plural %}
                    {{ n }} comments
                {% endblocktranslate %}
            </span>
        </p>
    </article>
</div>
