{% load app_extras comments_extras %}

<div id="{{ post|element_id }}" class="flex my-4">
    {% include "partials/vote.html#form" with item=post %}
    <article>
        <header>
            <a href="{% url 'posts:detail' post.id %}"
               preload="mouseover"
               class="no-anchor">{{ post.title }}</a>
        </header>
        <p class="text-sm text-muted">
            {% points_count post %}
            •
            {% include "partials/profile_link.html" with user=post.user %}
            •
            <span class="whitespace-nowrap">
                {% blocktranslate trimmed with age=post.submit_date|timesince %}
                    {{ age }} ago
                {% endblocktranslate %}
            </span>
            •
            {% comment_count post %}
        </p>
    </article>
</div>
