{% load i18n %}

<div id="post-{{ post.id }}" class="flex m-2 h-16">
    {% include "partials/vote_form.html#form" with item=post %}
    <article>
        <header>
            <a href="{% url 'post' post.id %}" preload="mouseover" class="no-anchor">{{ post.title|title }}</a>
        </header>
        <footer class="text-sm text-muted">
            <span id="post-{{ post.id }}-points">
                {% blocktranslate trimmed count n=post.points %}
                    {{ n }} point
                {% plural %}
                    {{ n }} points
                {% endblocktranslate %}
            </span>
            🞄
            {% include "partials/profile_link.html" with username=post.user.username %}
            🞄
            <span>
                {% blocktranslate trimmed with age=comment.submit_date|timesince %}
                    {{ age }} ago
                {% endblocktranslate %}
            </span>
            🞄
            <span>
                {% blocktranslate trimmed count n=post.comments.count %}
                    {{ n }} comment
                {% plural %}
                    {{ n }} comments
                {% endblocktranslate %}
            </span>
        </footer>
    </article>
</div>
