{% load static %}

<a href="{% url 'users:profile' user %}"
   class="{% if request.user == user %}
              !text-orange_d dark:!text-orange
          {% endif %}">{{ user }}</a>
{% if user.is_moderator %}
    <img alt="moderator indicator (crown)"
         width="512"
         height="512"
         class="emoji-img"
         src="{% static 'images/crown.png' %}">
{% endif %}
{% if user == post_author %}
    <img alt="author indicator (pencil)"
         width="512"
         height="512"
         class="emoji-img"
         src="{% static 'images/pencil.png' %}">
{% endif %}
