<button id="theme-toggle-btn"
        type="button"
        aria-label="toggle theme"
        class="bg-transparent dark:bg-transparent hover:bg-transparent dark:hover:bg-transparent"
        _="on click call setTheme()">
    {# djlint:on #}
    <span id="dark-theme-icon" class="hidden">
        {% comment %}
            i.e. Dark button
        {% endcomment %}
        <svg xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             class="stroke-current fill-none"
             viewBox="0 0 24 24"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z">
            </path>
        </svg>
    </span>
    <span id="light-theme-icon" class="hidden">
        {% comment %}
            i.e. Light button
        {% endcomment %}
        <svg xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             class="stroke-current fill-none"
             viewBox="0 0 24 24"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round">
            <circle cx="12" cy="12" r="5"></circle>
            <line x1="12" y1="1" x2="12" y2="3"></line>
            <line x1="12" y1="21" x2="12" y2="23"></line>
            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
            <line x1="1" y1="12" x2="3" y2="12"></line>
            <line x1="21" y1="12" x2="23" y2="12"></line>
            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
        </svg>
    </span>
    <span id="auto-theme-icon" class="hidden">
        {% comment %}
          i.e. Auto button
        {% endcomment %}
        <svg xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             class="fill-current stroke-current"
             viewBox="0 0 16 16"
             fill="none"
             role="img">
            <circle cx="8" cy="8" r="7.25" fill="none" stroke-width="1.5" />
            <mask id="a" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
            <circle cx="8" cy="8" r="7.25" stroke-width="1.5" />
            </mask>
            <g mask="url(#a)">
            <path d="M0 0h8v16H0z" />
            </g>
        </svg>
    </span>
</button>
{# djlint:off #}
<script type="text/hyperscript">
    def nextTheme()
        get localStorage.theme
        if no result
            return "dark"
        else if it is "dark"
            return "light"
        else if it is "light"
            return null
        end
    end

    def updateIcon(theme)
        if no theme set theme to "auto" end
        set id to `${theme}-theme-icon`
        add .hidden to <#theme-toggle-btn>span/> when it's @id is not id
        take .block from <#theme-toggle-btn>span/> for #{id}
    end

    def updateToggleTitle(theme)
        if no theme
            set title to "Switch to dark theme"
        else if theme is "dark"
            set title to "Switch to light theme"
        else if theme is "light"
            set title to "Follow system theme"
        end
        set #theme-toggle-btn.title to title
    end

    def setTheme()
        set theme to nextTheme()
        if no theme
            call localStorage.removeItem("theme")
        else
            set localStorage.theme to theme
        end
        call updateToggleTitle(theme)
        call updateIcon(theme)
        call window.updateTheme()
    end

    on load call updateToggleTitle(localStorage.theme)
    on load call updateIcon(localStorage.theme)
</script>
{# djlint:on #}
