{% load app_extras i18n partials %}

{% partialdef form %}
    <form action="{{ item.get_vote_url }}"
          method="post"
          hx-target="this"
          hx-push-url="false">
        {% csrf_token %}
        <button class="flex-none p-2 m-0 w-8 bg-transparent hover:bg-transparent"
                aria-label="Upvote"
                {% if item.user == user or not user.is_authenticated %}
                    disabled
                {% endif %}>
            <svg class="{% if item.has_voted %}
                            fill-green
                        {% elif item.user == user or not user.is_authenticated %}
                            fill-bg2
                        {% else %}
                            fill-bg4
                        {% endif %}"
                 viewBox="0 0 30 26">
                <polygon points="15,0 30,26 0,26" />
            </svg>
        </button>
    </form>
{% endpartialdef %}

{% partialdef points %}
    <span id="{{ item|class_name|lower }}-{{ item.id }}-points"
          hx-swap-oob="true">
        {% blocktranslate trimmed count n=item.points %}
            {{ n }} point
        {% plural %}
            {{ n }} points
        {% endblocktranslate %}
    </span>
{% endpartialdef %}

{% partial form %}
{% partial points %}
