{% load custom_filters i18n partials %}

{% partialdef form %}
    <form action="{{ item.get_vote_url }}"
          method="post"
          hx-target="this"
          hx-push-url="false"
          hx-boost="true">
        {% csrf_token %}
        <button class="flex-none -ml-3 p-2 w-8 h-8 bg-transparent hover:bg-transparent
                       {% if item.user == user or not user.is_authenticated %}
                           opacity-25
                       {% endif %}"
                aria-label="Upvote"
                {% if item.user == user or not user.is_authenticated %}
                    disabled
                {% endif %}>
            <svg class="
                        {% if item.has_voted %}
                            fill-green_d
                        {% else %}
                            fill-fg
                        {% endif %}"
                 viewBox="0 0 30 26">
                <polygon points="15,0 30,26 0,26" />
            </svg>
        </button>
    </form>
{% endpartialdef %}

{% partial form %}
<span id="{{ item|class_name|lower }}-{{ item.id }}-points"
      hx-swap-oob="true">
    {% blocktranslate trimmed count n=item.points %}
        {{ n }} point
    {% plural %}
        {{ n }} points
    {% endblocktranslate %}
</span>
