{% extends "base_page.html" %}

{% load static %}

{% block page_title %}
    {% translate "About" %}
{% endblock page_title %}

{% block title %}
    <h1>
        {% translate "About" %}
    </h1>
{% endblock title %}

{% block content %}
    <div align="center" class="prose">
        <figure>
            <img src="{% static 'images/harfang_emoji-md.png' alt='A snowy owl emoji' %}">
            <figcaption>
                {% translate "The snowy owl <em>(Bubo scandiacus)</em>, also known as the polar owl, the white owl and the Arctic owl, is a large, white owl of the true owl family. Snowy owls are native to the Arctic regions of both North America and the Palearctic, breeding mostly on the tundra." %} - <a href="https://en.wikipedia.org/wiki/Snowy_owl">Wikipedia</a>
            </figcaption>
        </figure>
    </div>
{% endblock content %}
