{% extends "base_page.html" %}
{% load static %}
{% block content %}
    <section>
        {% block title %}{% endblock %}
        {% block page-and-paging-controls %}
            {% if page_obj.paginator.count == 0 %}
                <p>No posts available.</p>
            {% else %}
                {% block feed %}{% endblock %}
                {% if page_obj.has_next %}
                    {% include "fragments/paging_controls.html" %}
                {% else %}
                    <p class="text-center">* * *</p>
                {% endif %}
            {% endif %}
        {% endblock %}
    </section>
{% endblock %}
