{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
              content="A news aggregation and web content rating and discussion site with a focus on simplicity and accessibility.">
        <meta name="keywords"
              content="forum,user content,social media,discussion,news,posts,media">
        <meta name="referrer" content="same-origin">
        <meta name="theme-color"
              content="#282828"
              media="(prefers-color-scheme: dark)">
        <meta name="theme-color"
              content="#fbf1c7"
              media="(prefers-color-scheme: light)">
        <meta name="htmx-config" content='{"scrollIntoViewOnBoost": false}'>
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        {% if debug %}
            <script defer src="{% static 'js/htmx/htmx.js' %}"></script>
            <script defer src="{% static 'js/_hyperscript.js' %}"></script>
        {% else %}
            <script defer src="{% static 'js/htmx/htmx.min.js' %}"></script>
            <script defer src="{% static 'js/_hyperscript.min.js' %}"></script>
        {% endif %}
        <script defer src="{% static 'js/htmx/ext/preload.js' %}"></script>
        <script>
            function updateTheme() {
                console.debug(`current theme: ${localStorage.theme ?? 'system'}`);
                if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                    document.documentElement.classList.add('dark')
                } else {
                    document.documentElement.classList.remove('dark')
                }
            }
            window.updateTheme = updateTheme;
            updateTheme();
        </script>
        <title>

            {% block page_title %}
                {{ page_title }}
            {% endblock page_title %}

            - Harfang
        </title>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-ext="preload"
          hx-boost="true"
          class="flex flex-col min-h-screen dark:text-gruv-fg dark:bg-gruv-bg">

        {% block body %}
        {% endblock body %}

        {% if debug %}
            <script>
                if (typeof window.htmx !== "undefined") {
                    htmx.on("htmx:afterSettle", function(detail) {
                        if (
                            typeof window.djdt !== "undefined" &&
                            detail.target instanceof HTMLBodyElement
                        ) {
                            djdt.show_toolbar();
                        }
                    });
                }
            </script>
        {% endif %}
    </body>
</html>
