{% extends "base_page.html" %}

{% block content %}

    {% block menu %}
    {% endblock menu %}

    {% block page-and-paging-controls %}
        {% if page_obj.paginator.count == 0 %}
            <p>
                {% translate "No posts available." %}
            </p>
        {% else %}

            {% block feed %}
            {% endblock feed %}

            {% if page_obj.has_next %}
                {% include "partials/paging_control.html" %}
            {% else %}
                <p class="text-2xl tracking-widest leading-10 text-center">
                    *⁎*
                </p>
            {% endif %}
        {% endif %}
    {% endblock page-and-paging-controls %}
{% endblock content %}
