{% extends "base.html" %}

{% block body %}
    <header>
        {% include "partials/nav.html" %}
        {% include "partials/flash.html" %}
    </header>
    <main class="overflow-x-hidden px-1 mx-auto w-full max-w-7xl sm:px-4 grow">
        <article>
            <hgroup class="mb-4 max-w-none prose">

                {% block title %}
                    <h1>
                        {{ page_title }}
                    </h1>
                {% endblock title %}

                {% block subtitle %}
                {% endblock subtitle %}

            </hgroup>
            <div id="main-content">

                {% block content %}
                {% endblock content %}

            </div>
        </article>
        <section id="discussion">

            {% block discussion %}
            {% endblock discussion %}

        </section>
    </main>
    {% include "partials/footer.html" %}
{% endblock body %}
